<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="list-group-item">
                    <span click.trigger="back()"><i data-feather="arrow-left-circle"></i></span>
                    <span click.trigger="save()" style="margin-left:5px;"><i data-feather="save"></i></span>
                    <span show.bind="user._id" click.trigger="delete()"><i data-feather="trash"></i></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4" style="margin-top:20px;">
                <label for="firstName">First name</label>
                <input type="email" class="form-control" value.bind="user.fname" id="firstName" placeholder="First name">
            </div>
            <div class="col-4" style="margin-top:20px;">
                <label for="lastName">Last name</label>
                <input type="email" class="form-control" value.bind="user.lname" id="lastName" placeholder="Last name">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8" style="margin-top:20px;">
                <label for="Email">Email</label>
                <input type="email" class="form-control" value.bind="user.email" id="email" placeholder="Email">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8" style="margin-top:20px;">
                <label for="Password">Password</label>
                <input type="email" class="form-control" value.bind="user.password" id="password" placeholder="password">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8" style="margin-top:20px;">
                <label for="role">Role</label>
                <select value.bind="user.role" class="form-control" id="role">
                    <option value="user">User</option>
                    <option value="staff">Staff</option>
                    <option value="admin">Administrator</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8" style="margin-top:20px;">
                <input class="form-check-input" checked.bind="user.active" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Active
                </label>
            </div>
        </div>
    </div>
</template>