<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5" style="margin-left:20px; ">
                <div class="row-md">
                    <h2>Actions</h2>
                    <div class="list-group-item">
                        <span click.trigger="back()"><i data-feather="arrow-left-circle"></i></span>
                        <span click.trigger="save()" style="margin-left:5px;"><i data-feather="save"></i></span>
                        <span show.bind="helpticket._id" click.trigger="delete()"><i data-feather="trash"></i></span>
                    </div>

                    <div class="form-group" style="margin-top:20px;">
                        <label for="Title">Title</label>
                        <input class="form-control" type="text" placeholder="Title" id="Title" readonly.bind="helpticket._id"
                            value.bind="helpticket.Title">
                    </div>

                    <div class="row-md">
                        <label for="Status">Status</label>
                        <select value.bind="helpticket.Status" class="form-control" id="Status" readonly.bind="userObj.role ==='user'">
                            <option value="new">new</option>
                            <option value="inProcess">inProcess</option>
                            <option value="closed">closed</option>
                        </select>
                        <div class="form-group" style="margin-top:20px;">
                            <label for="content">Add content description</label>
                            <textarea value.bind="helpticketcontent.Content" class="form-control" rows='3'></textarea>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label class="btn btn-primary">
                                    Browse for files&hellip;
                                    <input type="file" style="display: none;" change.delegate="changeFiles()"
                                        files.bind="files">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <ul>
                                <li repeat.for="file of filesToUpload" class="list-group-item">${file.name}<span
                                        click.delegate="removeFile($index)" class="pull-right">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5">
                <form style="margin-top:20px; margin-bottom: 20px">
                    <div class="row">
                        <div class="col">
                            <label for="PersonFirstName">Person First Name</label>
                            <input class="form-control" type="text" placeholder="" readonly value.bind="helpticket.PersonID.fname">

                        </div>
                        <div class="col">
                            <label for="PersonLastName">Person Last Name</label>
                            <input class="form-control" type="text" placeholder="" readonly value.bind="helpticket.PersonID.lname">
                        </div>
                    </div>
                </form>

                <form style="margin-top:20px; margin-bottom: 20px">
                    <div class="row">
                        <div class="col">
                            <label for="OwnerFirstName">Owner First Name</label>
                            <input class="form-control" type="text" placeholder="" readonly value.bind="helpticket.OwnerID.fname">

                        </div>
                        <div class="col">
                            <label for="OwnerLastName">Owner Last Name</label>
                            <input class="form-control" type="text" placeholder="" readonly value.bind="helpticket.OwnerID.lname">
                        </div>
                    </div>
                </form>
                <h2>History</h2>
                <div class="row-md">

                    <div class="card" style="padding: 3px; margin-top: 15px; ">
                        <div class="card-body">
                            Previous Comments/Content:
                        </div>

                    </div>

                    <div class="card" style="padding: 3px; margin-top: 15px; " repeat.for="Content of helptickets.helpticketscontentArray">
                        <div class="card-body">
                            <div class="row" style="padding: 3px;">
                                <div class="col-6">
                                    <span innerhtml.bind="Content.DateCreated | formatDate "></span><br />
                                    ${Content.PersonID.fname} ${Content.PersonID.lname}
                                </div>

                                <div class="col-6" style="margin-bottom: 15px; 
                                border-left-style: solid;border-left-width: 1px;"
                                    value.bind="Content.Content">
                                    ${Content.Content}
                                </div>

                                <div>
                                    <a href="http://localhost:5000/uploadedFiles/helpTickets/${content.file.fileName}"
                                        target="_blank">${content.file.originalFileName}</a>
                                </div>


                            </div>
                        </div>
                    </div>
                    <Br /><Br />
                </div>
            </div>
        </div>
    </div>
</template>