<template>
    <table class="table table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Role</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="user of users.usersArray">
                <td>${user.fname}</td>
                <td>${user.lname}</td>
                <td>${user.role}</td>
                <td>${user.active}</td>
            </tr>
        </tbody>
    </table>
</template>
