<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <table class="table table-bordered">
                    <thead class="thead">
                        <tr>
                            <th colspan="4">
                                <span click.trigger="newHelpTicket()"><i data-feather="plus"></i></span>
                                <span click.trigger="getHelpTickets()" style="margin-left:5px;"><i data-feather="refresh-cw"></i></span>
                            </th>
                        </tr>
                        <tr class="thead-light">
                            <th scope="col">Title</th>
                            <th scope="col">Status</th>
                            <th scope="col">Person Name</th>
                            <th scope="col">Owner Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr click.trigger="editHelpTicket(helpticket)" repeat.for="helpticket of helptickets.helpticketsArray">
                            <td >${helpticket.Title}</td>
                            <td >${helpticket.Status}</td>
                            <td >${helpticket.PersonID.fname}
                                ${helpticket.PersonID.lname} </td>
                            <td >${helpticket.OwnerID.fname}
                                ${helpticket.OwnerID.lname} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>