<template>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <table class="table table">
                    <thead class="thead">
                        <tr>
                            <th colspan="1">
                                <span click.trigger="newHelpTicket()"><i data-feather="plus"></i></span>
                                <span click.trigger="getHelpTickets()" style="margin-left:5px;"><i data-feather="refresh-cw"></i></span>
                            </th>
                        </tr>
                        <tr class="thead-light">
                            <th scope="col">Title</th>
                            <th scope="col">Status</th>
                            <th scope="col">Person Name</th>
                            <th scope="col">Owner Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr click.trigger="editHelpTicket(helpTicket)" repeat.for="helpTicket of helpTickets.helpTicketsArray">
                            <td>${helpTicket.Title}</td>
                            <td>${helpTicket.Status}</td>
                            <td>${helpTicket.PersonID.fname} ${helpTicket.PersonID.lname}  </td>
                            <td>${helpTicket.OwnerID.fname} ${helpTicket.PersonID.lname} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>